<html>
    <head>
        <title>DevOp Terminal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <h4>Following is the differences in configurations for each Routers</h4><br>
                    {% if differences%}
                        {{differences}}
                    {% endif %}                    
                </div>
            </div>
        </div>        
    </body>
</html>


