<html>
    <head>
        <title>WDTC NMS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <h4>Welcome to the Configuration Terminal</h4><br>
                    <a class="btn btn-primary" href="PingTest">Check Ping Connectivity</a><br><br>
                    <a class="btn btn-primary" href="GetConfigPage">Get Configurations</a><br><br>
                    <a class="btn btn-primary" href="Configure">Configure Device</a><br><br>
                    <!-- <a class="btn btn-primary" href="DiffConfig">Compare Configurations</a><br><br>
                    
                    <a class="btn btn-primary" href="Migration">Perform Migration</a> -->
                </div>
            </div>
        </div>        
    </body>
</html>


