<html>
    <head>
        <title>WDTC NMS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
        <form method="POST" action="{{url_for('ping_test')}}">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <h4>Result of Ping Test</h4><br>
                    <div class="form-group col-sm-3">
                        <label for="ssh_ip">Destination IP</label>
                        <input required class="form-control" type="text" id="ssh_ip" name="IP"/>
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="isTomcast">Is Tomcast</label>
                        <input class="form-control" type="checkbox" id="isTomcast" name="isTomcast"/>
                    </div>                            
                </div>
                <div class="form-group col-sm-12">
                    <div class="form-group col-sm-12">
                        <input type="submit" class="btn btn-primary" id="getConnectivityButton" value="Check Connectivity"/>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12" id="output">
                        {% if ping_status%}
                            {{ping_status}}
                        {% endif %}  
                    </div>
                </div>  
            </div>
        </div>  
    </form>   
    </body>
</html>
